@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter Tight", sans-serif;
}

.navbar-brand img {
    height: 60px;
    width: auto;
}

.navbar-toggler {
    border: none;
    outline: none;
}
.navbar-toggler i {
    color: #151515;
}
.navbar-toggler:focus {
    box-shadow: none;
}

/* hero slider  */
.slide {
    height: 70dvh;
    position: relative;
}
.slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #060a2d5d;
}
.slide-1 {
    background-image: url('../images/1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-2 {
    background-image: url('../images/2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-3 {
    background-image: url('../images/3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide .hero-content {
    max-width: 600px;
    position: relative;
    z-index: 2;
}
.slide .hero-title {
    font-family: "Inter Tight", sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
}
.slide p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}
.slide .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #F0B82D;
    padding: 12px 25px;
}
.owl-dots {
    display: none;
}
/* Next match section style  */
.next-match-section {
    padding: 50px 0;
    background-color: #F4F4F4;
}
.next-match-section h2 {
    font-size: 45px;
    font-weight: 600;
}
.next-team {
    gap: 10px;
}
.next-team img {
   width: 120px;
   height: auto;
}
.next-team h5 {
    font-size: 20px;
}
.next-match-schedule span {
    font-size: 50px;
    display: inline-block;
    font-weight: 600;
}
.next-match-schedule .schedule-time {
    font-size: 18px;
    font-weight: 400;
}


@media screen and (max-width: 767px) {
    .slide .hero-content {
        max-width: auto;
    }
    .slide .hero-title {
        font-size: 35px;
    }
    .slide .hero-btn {
        padding: 10px 20px;
    }
    .next-team img {
        width: 60px;
        height: auto;
    }
    .next-match-schedule span {
        font-size: 30px;
        display: inline-block;
        font-weight: 600;
    }
    .next-team h5 {
        font-size: 16px;
    }
    .next-match-section h2 {
        font-size: 35px;
    }
}